* {
  box-sizing: border-box;
}
.input__label {
  color: white;
  font-size: 20px;
  font-family: "Gluten", cursive;
  margin-bottom: 5px;
}
.input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}
.newGame_input {
  width: 335px;
  padding: 10px;
  display: block;
  border-radius: 5px;
  border: none;
}
@media (min-width: 960px) {
  .newGame_input {
    width: 300px;
  }
}
.b-container {
  width: 100%;
}
@media (min-width: 960px) {
  .b-container {
    width: 300px;
  }
}
.container-hands {
}
.start-button {
  width: 100%;
  padding: 10px;
  border: solid 2px;
  border-radius: 4px;
  background-color: purple;
  color: white;
  font-family: "Gluten", cursive;
  font-size: 14px;
}
@media (min-width: 960px) {
  .start-button {
    width: 300px;
  }
}
