* {
  box-sizing: border-box;
}

.container-choices {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.player-choice__img {
  height: 250px;
}
.computer-choice {
}
.computer-choice__img {
  height: 250px;
  transform: rotate(180deg);
}
